.banner {
    margin: 10px 2px;
    border-radius: 10px;
    background-color: #ffffff47;
    width: 100%;
    height: 16rem;
}
.cat-slide {
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    margin: 15px 0;
}
.cat-slide::-webkit-scrollbar {
    display: none;
}
.cat-slide .item {
    margin: 0 10px;
    display: grid;
    place-items: center;
}
.cat-slide .item div {
    height: 45px;
    width: 45px;
    margin: 0 6px;
    border-radius: 50%;
    background-color: #00f4ff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cat-slide .item div .fa {
    font-size: 30px;
    color: black;
}
.cat-slide .item p {
    margin: 5px 0;
    font-size: 10px;
    color: #ddd;
}
